@import "/components/card-atom";

//Header menu
$top-menu-background: #FFF;

//Dashoard
$dashboard-body: #2c2a2b;

//Tables
$table-background: transparent;
$table-hover: transparent;

//Side Menu
$side-menu-background: #584b4f;
$side-menu-color: #efdab9;
$side-menu-hover-background: #3d3a3a;

//Section
$section-background: #343233;//28304e


$body-background: #3C3C3C;
$title-color: #c7c2c2;
$tr-background: #383838;
$tr-background-hover: #313131;
$color: #c7c2c2;

//Tables
