@import "/components/card-default";

//Header menu
$top-menu-background: #262626;

//Dashoard
$dashboard-body: #192231;

//Tables
$table-background: #24344d;
$table-hover: #293851;

//Side Menu
$side-menu-background: #131c29;
$side-menu-color: #FFF;
$side-menu-hover-background: #1c2636;

//Section
$section-background: #28304e;

$body-background: #3C3C3C;
$title-color: #c7c2c2;
$tr-background: #383838;
$tr-background-hover: #313131;
$color: #c7c2c2;

//Tables
