@import "/components/card-default";

// Header menu
$top-menu-background: #313131;

//Dashoard
$dashboard-body: #3C3C3C;

//Tables
$table-background: #24344d;
$table-hover: #293851;

//Side Menu
$side-menu-background: #FFF;
$side-menu-color: #000;
$side-menu-hover-background: #f3f3f3;

//Section
$section-background: #28304e;

$body-background: #3C3C3C;
$title-color: #c7c2c2;
$tr-background: #383838;
$tr-background-hover: #313131;
$color: #c7c2c2;

//Tables
