@import "/components/card-default";

// Header menu
$top-menu-background: #FFF;

//Dashoard
$dashboard-body: #f8f8f8;

//Tables
$table-background: #24344d;
$table-hover: #293851;

//SideMenu
$side-menu-background: #FFF;
$side-menu-color: #000;
$side-menu-hover-background: #f3f3f3;

//Section
$section-background: #28304e;

$body-background: #f8f8f8;
$title-color: #000;
$tr-background: #FFF;
$tr-background-hover: #E3E3E3;
$color: #000;

//Tables
