@import "/components/card-default";

// Header menu
$top-menu-background: #FFF;

//Dashoard
$dashboard-body: #f4f7fc;

//Tables
$table-background: #FFF;
$table-hover: #F9FBFD;
$tr-background: #FFF;
$tr-background-hover: #E3E3E3;

//SideMenu
$side-menu-background: #212841;
$side-menu-color: rgba(255,255,255,.5);
$side-menu-hover-background: #1a1f33;

//Section
$section-background: #28304e;
$body-background: #f4f7fc;
$title-color: #000;
$color: #000;

//Tables
