$top-menu-background: #FFF;
$side-menu-background: #212841;
$side-menu-color: rgba(255,255,255,.5);
$side-menu-hover-background: #1a1f33;

$body-background: #f4f7fc;
$title-color: #000;
$tr-background: #FFF;
$tr-background-hover: #E3E3E3;
$color: #000;

//Tables
