$top-menu-background: #FFF;
$side-menu-background: #FFF;
$side-menu-color: #000;
$side-menu-hover-background: #f3f3f3;

$body-background: #f8f8f8;
$title-color: #000;
$tr-background: #FFF;
$tr-background-hover: #E3E3E3;
$color: #000;

//Tables
